*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root{
    --colorPrimary:#F09000;
    --colorSecondary:#FF0F00;
    --colorTertiary:#F02B00;
    --bgPrimary: rgba(255, 255, 255, .87);
    --paddingGeneral: 1.5rem;
}
body{
    font-family: 'Maven Pro', sans-serif;
}
/* ----------- Pagina de Home ---------*/
.img-desktop{
    display: none;
}
.container {
    padding: var(--paddingGeneral);
    height: 100vh;
    background-image: url('../assets/img/background_principal.jpg');
    background-size: cover;
}
.container__content, .containerAuth__content {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    place-items: center;
    grid-gap: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bgPrimary);
    width: 90%;
    height: 100%;    
    margin: auto;
    padding: var(--paddingGeneral);
    border: 1px solid rgba(255, 15, 0, 0.2);
    box-shadow: rgba(255, 15, 0, 0.4) 0px 7px 15px;
}
.container__buttons-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__buttons-content a {
    background-color: var(--colorPrimary);
    color: white;
    padding: .7rem;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
.container__title-content {
    font-size: 1.3rem;
    margin-top: 1rem;
}
.container__buttons-content a:nth-child(2) {
    background-color: var(--colorSecondary);
}
/* ----------- Pagina de Registro ---------*/
.login {
    margin-top: var(--paddingGeneral);
}
.containerAuth__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;   
}
.containerAuth__register-content {
    width: 100%;
}
.containerAuth__form-register input {
    width: 90%;
    padding: .7rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid var(--colorPrimary);
}
.lines-effect {
    margin-top: 1rem;
    display: inline-block;
    position: relative;
    width: 90%;
 }
 .lines-effect::after, .lines-effect::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
    top: .6rem;
    right: 0rem;
 }
 .lines-effect::before{
    top: 0.6rem;
    left: 0rem;
 }
 .containerAuth__title-content {
    color: var(--colorSecondary);
    font-size: 1.3rem;
 }
 .containerAuth__button-google img {
    width: 30px;
    margin-right: 10px;
 }
 .containerAuth__button-google {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid var(--colorPrimary);
    padding: .3rem;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    background-color: white;
 }
 .containerAuth__login-button {
    background-color: var(--colorSecondary);
    color: white;
    padding: .8rem;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 90%;
 }
.containerAuth__form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0px 1rem;
}
/* ------------------- Error-----------------*/
.error{
    color:var(--colorSecondary);
    font-size:large;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    padding:4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ojo{
    position:relative;
    margin-left: 35%;
}
.eye{
    cursor: pointer;
    position:absolute;
    transform: translateY(-50);
    padding:25px;
}

.eye-registro{
    cursor: pointer;
    position:absolute;
    transform: translateY(-50);
    padding:25px;
 
}

@media (min-width:430px) {
    .ojo{
        margin-left: 130px;
    }
}
@media (min-width:674px) {
    .ojo{
        margin-left: 150px;
    }
}



/* ------------------- Media Querys -----------------*/
@media (min-width:1024px) {
    .img-desktop{
        display: block;
        margin-left: 7%;
        margin-right: -4%;
    }
    .img-desktop img{
        width: 100%;
        object-fit: cover;
        height: 100vh;
        margin-top: -25px;
    }
    .container{
        left: 0;
        background:none;
        display: flex;
        justify-content: space-evenly;
    }
    .container__content{
        background: linear-gradient(rgba(246, 241, 241, 0.87), rgba(246, 241, 241, 0.87)), url(assets/img/background_principal.jpg); 
    }
    .container__content, .containerAuth__content {
        background: linear-gradient(rgba(246, 241, 241, 0.87), rgba(246, 241, 241, 0.87)), url(assets/img/background_principal.jpg); 
        margin: 0;
    }
    .ojo {
        margin-left: 150px;
    }
}